.SearchResults {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 600px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: transparent;
  box-shadow: 0 4px 2px 2px #000000;
  margin-top: 20px;

}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
  }

  
} 
